.DS_Store
.idea/
.sconsign.dblite
CMakeLists.txt
Pass-min.jpg
build_my.sh
cmake-build-debug/
config.log
extern/.DS_Store
extern/argtable-2.10/.DS_Store
extern/argtable-2.10/share/.DS_Store
extern/argtable-2.10/share/doc/.DS_Store
extern/argtable-2.10/share/doc/argtable2/.DS_Store
extern/argtable-2.10/share/man/.DS_Store
lib/.DS_Store
lib/data_structure/.DS_Store
lib/data_structure/parallel/.DS_Store
lib/parallel_mh/.DS_Store
lib/partition/.DS_Store
lib/partition/coarsening/.DS_Store
lib/partition/coarsening/matching/.DS_Store
lib/partition/coarsening/matching/CMakeLists.txt
lib/partition/initial_partitioning/.DS_Store
lib/partition/initial_partitioning/CMakeLists.txt
lib/partition/uncoarsening/.DS_Store
lib/partition/uncoarsening/refinement/.DS_Store
lib/partition/uncoarsening/refinement/kway_graph_refinement/CMakeLists.txt
lib/partition/uncoarsening/refinement/parallel_kway_graph_refinement/CMakeLists.txt
lib/partition/uncoarsening/refinement/quotient_graph_refinement/.DS_Store
lib/partition/uncoarsening/refinement/quotient_graph_refinement/CMakeLists.txt
lib/partition/uncoarsening/refinement/quotient_graph_refinement/flow_refinement/.DS_Store
misc/.DS_Store
shell-command
tmppartition2
watchmedo
extern/argtable-2.10/lib/libargtable2.so
extern/argtable-2.10/lib/libargtable2.so.0

